table {
	border-spacing: 0px;
}

.cell {
	height: 20px;
	width: 20px;
	border: solid 1px #ccc;
	background-color: #fff;
}

.cell-border-left {
	border-left: solid 2px #000;
}

.cell-border-right {
	border-right: solid 2px #000;
}

.cell-border-top {
	border-top: solid 2px #000;
}

.cell-border-bottom {
	border-bottom: solid 2px #000;
}

.target-blue {
	background-color: #2980b9;
}

.target-red {
	background-color: #c0392b;
}

.target-yellow {
	background-color: #f39c12;
}

.target-green {
	background-color: #27ae60;
}

.robot {
	height: 15px;
	width: 15px;
	margin: auto;
	border-radius: 50%;
}

.robot-selected {
	box-shadow: 1px 2px 3px #888888;
}

.robot-blue {
	background-color: #3498db;
}

.robot-red {
	background-color: #e74c3c;
}

.robot-yellow {
	background-color: #f1c40f;
}

.robot-green {
	background-color: #2ecc71;
}