/* GLOBAL */
table {
	border-spacing: 0px;
	width: 100%;
	border: solid 2px #2c3e50;
}

#nextGameForm {
	float: right;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.participants-list {
	list-style: none;
}

.participant-nb-coups {
	font-size: 12px;
	font-style: italic;
	color: #888;
}

.rank {
	margin-right: 20px;
}

.notice {
	font-size: 12px;
	font-style: italic;
	color: #999;
}

.next-game {
	text-decoration: underline;
	cursor: pointer;
}

.game-legend {
	line-height: 47px;
}

.map-overlay {
	position: absolute;
	z-index: 1500;
	background-color: #000;
	opacity: 0.5;
}

.me {
	font-weight: bold;
}

/* CELL */
.cell {
	width: 6.25%;
	min-height: 15px;
	border: solid 1px #ecf0f1;
	background-color: #fff;
}

.cell-trail {
	background-color: #D5DDE2;
}

.cell-endpoint {
	background-color: #95a5a6;
	cursor: pointer;
}

.table-red .cell-endpoint:hover {
	background-color: #e74c3c;
}

.table-blue .cell-endpoint:hover {
	background-color: #3498db;
}

.table-yellow .cell-endpoint:hover {
	background-color: #f1c40f;
}

.table-green .cell-endpoint:hover {
	background-color: #2ecc71;
}

.cell-border-left {
	border-left: solid 2px #2c3e50;
}

.cell-border-right {
	border-right: solid 2px #2c3e50;
}

.cell-border-top {
	border-top: solid 2px #2c3e50;
}

.cell-border-bottom {
	border-bottom: solid 2px #2c3e50;
}

/* TARGET */
.target-blue {
	background-color: #2980b9;
}

.target-red {
	background-color: #c0392b;
}

.target-yellow {
	background-color: #f39c12;
}

.target-green {
	background-color: #27ae60;
}

/* ROBOT */
.robot {
	height: 15px;
	width: 15px;
	margin: auto;
	cursor: pointer;
	border-radius: 50%;
}

.robot-selected {
	border: solid 2px #fff;
	box-shadow: 1px 1px 8px rgba(2,19,3,0.5);
}

.robot-unselectable {
	cursor: default;
}
	
.robot-blue {
	background-color: #3498db;
}

.robot-red {
	background-color: #e74c3c;
}

.robot-yellow {
	background-color: #f1c40f;
}

.robot-green {
	background-color: #2ecc71;
}