/* GLOBAL */
table {
	border-spacing: 0px;
	width: 100%;
	border: solid 2px #2c3e50;
}

#nextGameForm {
	margin: auto;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.cr-icon {
	vertical-align: baseline;
}

.help {
	cursor: pointer;
	float: right;
	font-size: 17px;
	line-height: 35px;
}

.help:hover {
	text-decoration: underline;
}

.modal {
	opacity: 1;
	z-index: 1500;
	display: block;
}

.modal-body p {
	font-size: 14px;
}

.alert-danger {
    padding: 2px 6px;
}

.participants-list {
	list-style: none;
}

.participant-nb-coups {
	font-size: 12px;
	font-style: italic;
	color: #888;
}

.rank {
	margin-right: 20px;
}

.notice {
	font-size: 12px;
	font-style: italic;
	color: #474747;
	text-align: center;
}

.map-overlay {
	position: absolute;
	z-index: 1000;
	background-color: #000;
	opacity: 0.5;
}

.me {
	font-weight: bold;
}

/* CELL */
.cell {
	width: 6.25%;
	min-height: 15px;
	border: solid 1px #ecf0f1;
	padding: 0;
	background-color: #fff;
}

.cell-trail {
	background-color: #D5DDE2;
}

.cell-endpoint {
	width: 100%;
	height: 100%;
	border: 0;
	vertical-align: middle;
	opacity: 0.5;
	background-color: #525252;
}

.table-red .cell-endpoint:hover {
	opacity: 1;
	background-color: #e74c3c;
}

.table-blue .cell-endpoint:hover {
	opacity: 1;
	background-color: #3498db;
}

.table-yellow .cell-endpoint:hover {
	opacity: 1;
	background-color: #f1c40f;
}

.table-green .cell-endpoint:hover {
	opacity: 1;
	background-color: #2ecc71;
}

.cell-border-left {
	border-left: solid 2px #2c3e50;
}

.cell-border-right {
	border-right: solid 2px #2c3e50;
}

.cell-border-top {
	border-top: solid 2px #2c3e50;
}

.cell-border-bottom {
	border-bottom: solid 2px #2c3e50;
}

/* TARGET */
.target-blue {
	background-color: #2980b9;
}

.target-red {
	background-color: #c0392b;
}

.target-yellow {
	background-color: #f39c12;
}

.target-green {
	background-color: #27ae60;
}

.map-container {
	margin-bottom: 30px;
}

/* ROBOT */
.robot {
	height: 15px;
	width: 15px;
	margin: auto;
	cursor: pointer;
	border: none;
	display: block;
	border-radius: 50%;
}

td {
	overflow: hidden;
}

.robot-selected {
	border: solid 2px #fff;
	box-shadow: 1px 1px 8px rgba(2,19,3,0.5);
}

.robot-unselectable {
	cursor: default;
	background-color: #95a5a6 ! important;
}
	
.robot-blue {
	background-color: #3498db;
}

.robot-red {
	background-color: #e74c3c;
}

.robot-yellow {
	background-color: #f1c40f;
}

.robot-green {
	background-color: #2ecc71;
}

/*New rules*/
body {
	background-color: #FDFDFD;
}
	
legend {
	color: #444135;
}

/* Page d'accueil */
.gameSelection {
	text-align: center;
}

.gameStyle {
	min-width: 10%;
	max-width: 25%;
	min-height: 80px;
	max-height: 80px;
	text-align: center;
	padding: 0px;
	display:inline-block;
	color: black;
}

.gameStyle.displayBlock {
	clear: left;
}

.gameStyle.notOver {
	width: 21%;
    max-width:21%;
}

.gameStyle.notOver .infos {
	display: block;
}

.gameStyle.nextToOver .infos {
	display: block;
}

.gameStyle.over .infos {
	display: none;
}

.gameStyle.notOver .infosDetail {
	display: none;
}

.gameStyle.nextToOver .infosDetail {
	display: none;
}

.gameStyle.over .infosDetail {
	display: block;
	text-align: left;
    margin-left:0px;
}

.gameStyle.over  {
	width: 30%;
    max-width:30%;
}

.gameStyle.nextToOver {
	width: 24%;
    max-width:24%;
}

.gameStyle button {
	min-width: 100%;
	min-height: 80px;
	max-height: 80px;
}

.gameName {
    font-size:1.2em;
    font-weight:bold;
}

.gameState {
	height: 20px;
	width: 20px;
	margin-top: 4px;
	border: none;
	display: inline-block;
	border-radius: 50%;
}

.detailBlockLbl {
    display: inline-block;
    min-width:110px;
    width:50%;
}
.detailBlockVal {
    display: inline-block;
    min-width:40px;
}

.gameTerminate {
	background-color: #e74c3c;
}

.gameNotTerminate {
	background-color: #2ecc71;
}

#header {
	line-height: 65px;
	text-align: center;
	margin-bottom: 20px;
	box-shadow: 0 1px 5px -1px #333;
	background-image: linear-gradient(#f9f9f9, #f3f3f3);
	background-repeat: repeat-x;
}

#header a {
	color: #696969 ! important;
}

.header-title{
	display: inline-block;
	font-size: 28px;
	font-weight: bold;
}

.left-panel {
	margin-bottom: 50px;
}

.border-green {
	border-bottom: solid 2px #2ecc71;
}

.border-blue {
	border-bottom: solid 2px #3498db;
}

.border-yellow {
	border-bottom: solid 2px #f1c40f;
}

.actions-panel .col-xs-4,  .actions-panel > .col-xs-12{
	padding: 0;
}

.creation-btn{
    text-align:center; 
    margin-top:10px;
}
.creation-btn button {
    width:170px;
}

.btn{
	border-radius: 0%;
}

.btn-key {
	border: solid 2px #95a5a6;
	background-color: #fff;
}

.btn-next-game {
	display: block;
	margin: auto;
	margin-bottom: 10px;
}
	
.btn-key:hover {
	background-color: #95a5a6;
}

.btn-rl {
	margin-top: 41px;
}

.btn[disabled] {
	background-color: #eee;
}

.participant:hover {
	cursor: default;
	color: #2ecc71;
}

.participant-stats {
	position: absolute;
	color: #444135 ! important;
	font-weight: normal ! important;
	background-color: #fff;
	border: solid 1px #2c3e50;
	border-radius: 5px;
	width: 120px;
	box-shadow: 2px 2px 5px #AAA9A9;
	left: 90px;
	font-size: 12px;
	padding: 5px;
}

/** ANIMATION **/
.header-title:hover {
	-webkit-animation: wobble 1s linear;
	animation: wobble 1s linear;
}

.participant.ng-enter {
	-webkit-animation: pulse .8s linear;
	animation: pulse .8s linear;
}
.participant.ng-move {
	-webkit-animation: tada .8s linear;
	animation: tada .8s linear;
}

.alert.ng-enter {
	-webkit-animation: tada 1s linear;
	animation: tada 1s linear;
}

@-webkit-keyframes wobble{0%{-webkit-transform:translateX(0%);transform:translateX(0%)}15%{-webkit-transform:translateX(-25%)rotate(-5deg);transform:translateX(-25%)rotate(-5deg)}30%{-webkit-transform:translateX(20%)rotate(3deg);transform:translateX(20%)rotate(3deg)}45%{-webkit-transform:translateX(-15%)rotate(-3deg);transform:translateX(-15%)rotate(-3deg)}60%{-webkit-transform:translateX(10%)rotate(2deg);transform:translateX(10%)rotate(2deg)}75%{-webkit-transform:translateX(-5%)rotate(-1deg);transform:translateX(-5%)rotate(-1deg)}100%{-webkit-transform:translateX(0%);transform:translateX(0%)}}@keyframes wobble{0%{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%)}15%{-webkit-transform:translateX(-25%)rotate(-5deg);-ms-transform:translateX(-25%)rotate(-5deg);transform:translateX(-25%)rotate(-5deg)}30%{-webkit-transform:translateX(20%)rotate(3deg);-ms-transform:translateX(20%)rotate(3deg);transform:translateX(20%)rotate(3deg)}45%{-webkit-transform:translateX(-15%)rotate(-3deg);-ms-transform:translateX(-15%)rotate(-3deg);transform:translateX(-15%)rotate(-3deg)}60%{-webkit-transform:translateX(10%)rotate(2deg);-ms-transform:translateX(10%)rotate(2deg);transform:translateX(10%)rotate(2deg)}75%{-webkit-transform:translateX(-5%)rotate(-1deg);-ms-transform:translateX(-5%)rotate(-1deg);transform:translateX(-5%)rotate(-1deg)}100%{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%)}}
@-webkit-keyframes tada{0%{-webkit-transform:scale(1);transform:scale(1)}10%,20%{-webkit-transform:scale(.9)rotate(-3deg);transform:scale(.9)rotate(-3deg)}30%,50%,70%,90%{-webkit-transform:scale(1.1)rotate(3deg);transform:scale(1.1)rotate(3deg)}40%,60%,80%{-webkit-transform:scale(1.1)rotate(-3deg);transform:scale(1.1)rotate(-3deg)}100%{-webkit-transform:scale(1)rotate(0);transform:scale(1)rotate(0)}}@keyframes tada{0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}10%,20%{-webkit-transform:scale(.9)rotate(-3deg);-ms-transform:scale(.9)rotate(-3deg);transform:scale(.9)rotate(-3deg)}30%,50%,70%,90%{-webkit-transform:scale(1.1)rotate(3deg);-ms-transform:scale(1.1)rotate(3deg);transform:scale(1.1)rotate(3deg)}40%,60%,80%{-webkit-transform:scale(1.1)rotate(-3deg);-ms-transform:scale(1.1)rotate(-3deg);transform:scale(1.1)rotate(-3deg)}100%{-webkit-transform:scale(1)rotate(0);-ms-transform:scale(1)rotate(0);transform:scale(1)rotate(0)}}
