<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<title>Rasende Roboter</title>

		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all" />
		<link rel="stylesheet" href="css/sticky-footer.css" type="text/css" media="all" />
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body ng-app="loggedApp" ng-controller="mainController" ng-init="idGame = __IDGAME__" ng-keydown="keyPress($event)">
		<header id="header" class="container">
			<div class="navbar navbar-default">
			  <div class="container">
				<div class="navbar-header">
				  <a href="/" ><h1 class="navbar-brand">Rasende Roboter <small>Le jeu de robots en ligne</small></h1></a>
				</div>
			  </div>
			</div>
        </header>
        
        <div class="container">
			<input id="login" type="hidden" value="__LOGIN__"/>
			<input id="idGame" type="hidden" value="__IDGAME__"/>
			<section>
				<div class="col-sm-12 col-md-5">
					<div class="well">
						<legend>Les participants</legend>
						<ul class="participants-list">
							<li ng-repeat="p in game.participants | orderBy:'place'" ng-class="{'me': p.me}">
								<span class="rank">{{p.place}}</span>{{p.name}}
								<span class="participant-nb-coups" ng-show="p.nbCoups">{{p.nbCoups}} coups</span>
								<span ng-show="p.name == game.firstFinder">*</span>
							</li>
						</ul>
					</div>
					<div class="well">
						<legend>Actions</legend>
						<div class="row">
							<button type="button" class="btn col-xs-offset-4 col-xs-4" ng-click="game.move('UP')" title="Bouge le robot en haut"
								ng-disabled="game.terminateGame || game.propositionDone || (!game.selectedRobot || 
								game.selectedRobot.upCell == null)">Haut</button>
						</div>
						<div class="row">
							<button type="button" class="btn col-xs-4" ng-click="game.move('LEFT')" title="Bouge le robot à gauche"
								ng-disabled="game.terminateGame || game.propositionDone || (!game.selectedRobot ||
								game.selectedRobot.leftCell == null)">Gauche</button>
							<button type="button" class="btn col-xs-4" ng-click="game.move('DOWN')" title="Bouge le robot en bas"
								ng-disabled="game.terminateGame || game.propositionDone || (!game.selectedRobot ||
								game.selectedRobot.downCell == null)">Bas</button>
							<button type="button" class="btn col-xs-4" ng-click="game.move('RIGHT')" title="Bouge le robot à droite"
								ng-disabled="game.terminateGame || game.propositionDone || (!game.selectedRobot ||
								game.selectedRobot.rightCell == null)">Droite</button>
						</div>
						<div class="row">
							<button type="button" class="btn btn-primary col-xs-6" ng-click="game.selectNext()" title="Sélectionne le prochain robot"
								ng-disabled="game.terminateGame || game.propositionDone">Switcher</button>
							<button type="button" class="btn btn-warning col-xs-6" ng-click="game.reset()" title="Remet à 0 le plateau"
								ng-disabled="game.terminateGame || game.propositionDone">RAZ</button>
						</div>
						<p><br>Fléches du clavier pour déplacer les robots.<br>Espace pour changer de robot. Retour arrière pour reset.</p>
					</div>
				</div>
				<div ng-controller="mapController">
					<div class="col-sm-12 col-md-7">
						<div class="well">
							<legend>Partie: {{game.idGame}}</legend>
							<div class="alert alert-info" ng-show="!game.terminateGame && game.countDown && !game.propositionDone" ng-cloak>
								<p><strong>{{game.firstFinder}}</strong> a été le premier à trouvé une solution.<br>
								Il vous reste <strong>{{game.countDown}} secondes !</strong></p>
							</div>
							<div class="alert alert-danger" ng-show="game.tooLate" ng-cloak>
								<strong>Trop tard, cette partie est déjà finie.</strong>
							</div>
							<div class="alert alert-danger" ng-show="game.error" ng-cloak>
								<strong>HACKER !!!</strong> Ou peut-être c'est un bug.
							</div>
							<div class="alert" ng-class="game.isCurrentPlayerWinner ? 'alert-success' : 'alert-info'"
								ng-show="game.terminateGame" ng-cloak>
								<p ng-show="game.isCurrentPlayerWinner">Yeah man! T'as fini premier.</p>
								<div ng-show="!game.isCurrentPlayerWinner">
										<p ng-show="game.winner">
											<strong>{{game.winner.name}}</strong> a fini premier.
										</p>
										<p ng-show="game.propositionDone">
											T'as fini {{game.currentPlayer.place}}ème.
										</p>
								</div>
							</div>
							<div class="alert alert-success" ng-show="!game.terminateGame && game.propositionDone">
								<p>
									T'as <span ng-show="game.firstFinder == game.login">été le premier à avoir</span> trouvé une solution!<br>
									T'es actuellement classé: <strong>{{game.currentPlayer.place}}</strong>.<br>
									<span ng-show="game.countDown">Il reste {{game.countDown}} secondes aux autres participants pour proposer leur solution.</span>
								</p>
							</div>
							<div id="tableWrap">
								<div class="map-overlay" ng-show="game.terminateGame || game.propositionDone"></div>
								<table ng-class="{'table-blue': game.selectedRobot.color == 'blue', 'table-red':  game.selectedRobot.color == 'red', 'table-yellow': game.selectedRobot.color == 'yellow', 'table-green': game.selectedRobot.color == 'green'}">
									<tr ng-repeat="row in game.map">
										<td ng-repeat="cell in row" class="cell" ng-click="clickCell(cell)"
											ng-class="{'cell-border-left': cell.g == 1, 'cell-border-right': cell.d == 1, 'cell-border-top': cell.h == 1, 'cell-border-bottom': cell.b == 1, 'cell-trail': cell.trail,
											'target-red': cell.target == 'red', 'target-blue': cell.target == 'blue', 'target-yellow': cell.target == 'yellow', 'target-green': cell.target == 'green', 'cell-endpoint': cell.endpoint != null}">
											<div class="robot" ng-show="cell.robot" ng-click="game.selectRobot(cell.robot)"
												ng-class="{'robot-blue': cell.robot.color == 'blue', 'robot-red': cell.robot.color == 'red', 'robot-yellow': cell.robot.color == 'yellow',
													'robot-green': cell.robot.color == 'green', 'robot-selected': cell.robot.selected, 'robot-unselectable': !cell.robot.canMove(game.lastRobotMoved)}"></div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer id="footer" class="container">
		  <p class="credit">
			M2PGI project. <a href="https://github.com/Luze26/RasendeRoboter">See the project on GitHub</a>.
		  </p>
		</footer>
		
		<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<!-- PROD JS <script src="js/min/main.min.js"></script>-->
		<script src="js/commonModule.js"></script>
		<script src="js/robot.js"></script>
		<script src="js/loggedApp.js"></script>
		<script src="js/propositionService.js"></script>
		<script src="js/gameService.js"></script>
		<script src="js/loggedAppCtrls.js"></script>
	</body>
</html>

