<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<title>Rasende Roboter</title>
		<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/logged.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body ng-app="loggedApp" ng-controller="mainController" ng-init="idGame = __IDGAME__" ng-keydown="keyPress($event)">
		<header>
			<h1>Partie __IDGAME__ __STATE__</h1>
			<p>Vous êtes connecté en tant que __LOGIN__</p>
			<input id="login" type="hidden" value="__LOGIN__"/>
			<input id="idGame" type="hidden" value="__IDGAME__"/>
		</header>
		<section>
			<nav>
				<ul ng-controller="participantsController">
					<li ng-repeat="p in participants">{{p}}</li>
				</ul>
			</nav>
			<section ng-controller="mapController">
				<div ng-show="victory">Victory</div>
				<table>
					<tr ng-repeat="row in map">
						<td ng-repeat="cell in row" class="cell"
							ng-class="{'cell-border-left': cell.g == 1, 'cell-border-right': cell.d == 1, 'cell-border-top': cell.h == 1, 'cell-border-bottom': cell.b == 1,
							'target-red': cell.target == 'red', 'target-blue': cell.target == 'blue', 'target-yellow': cell.target == 'yellow', 'target-green': cell.target == 'green'}">
							<div class="robot" ng-show="cell.robot" ng-click="selectRobot(cell.robot)"
								ng-class="{'robot-blue': cell.robot.color == 'blue', 'robot-red': cell.robot.color == 'red', 'robot-yellow': cell.robot.color == 'yellow',
									'robot-green': cell.robot.color == 'green', 'robot-selected': cell.robot.selected}"></div>
						</td>
					</tr>
				</table>
				<div ng-click="move(moveRobotUp, selectedRobot)">Up</div>
				<div ng-click="move(moveRobotDown, selectedRobot)">Down</div>
				<div ng-click="move(moveRobotRight, selectedRobot)">Right</div>
				<div ng-click="move(moveRobotLeft, selectedRobot)">Left</div>
			</section>
		</section>
		<footer>
			Mini-projet IHM de M2PGI...
		</footer>
	</body>
</html>

