<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <title>Rasende Roboter</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/main.css" type="text/css" media="all" />
    </head>
  <body ng-app="loginApp" ng-controller="mainController" >
  
    <a href="https://github.com/Luze26/RasendeRoboter">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
    </a>
    
    <header id="header">
        <a href="/" class="header-title">
            <img src="/img/robot__ROBOT__.png" alt="logo" />
            Cool Robots
        </a>
    </header>
    
    <!-- Loading image -->
    <center ng-show="!displayContainer" >
        <img width="30%" heigth="30%" src="/img/spinner.gif" alt="Application loading .. Please wait ..">
    </center>
    
    <div class="container" ng-cloak ng-show="displayContainer">
        <div class="page-header">
        
            <!-- Login Panel -->
            <div class="row form-horizontal">
				<div class="form-group homepage-form col-lg-12">
					<label class="col-lg-3" for="inputLogin">Identifiant</label>
					<div class="col-lg-7" style="display: inline-block;float: none;">
						<input id="inputLogin" type="text" class="form-control input-sm" ng-model="game.login" placeholder="Entrez votre nom d'utilisateur"/>
					</div>
				</div>
				<div class="form-group homepage-form col-lg-12">
					<p class="notice" style="margin-left: 13px; text-align: left;">Le mot de passe est facultatif. Pour vous inscrire: entrez un mot de passe et jouez une partie !</p>
					<label class="col-lg-3" for="inputPassword">Mot de passe <span class="notice">(facultatif)</span></label>
					<div class="col-lg-7" style="display: inline-block;float: none;">
						<input id="inputPassword" type="password" class="form-control input-sm" ng-model="game.password" placeholder="Entrez un mot de passe, si vous voulez protéger votre compte"/>
					</div>
				</div>
				<div ng-show="loginKO.display" class="alert-danger">
					<small>{{loginKO.text}}</small>
				</div>
				<div ng-show="pwdKO.display" class="alert-danger">
					<small>{{pwdKO.text}}</small>
				</div>
                
				<div class="form-group col-lg-12" ng-show="displayCreationField" >
                    <label class="col-lg-3" for="inputGame">Nom de la partie</label>
                    <div class="col-lg-7">
                        <input id="inputGame" type="text" class="form-control input-sm" ng-model="game.idGame" placeholder="Entrez le nom de votre partie"/>
                    </div>
                    <div ng-show="idGameKO.display" class="alert-danger">
                        <small>{{idGameKO.text}}</small>
                    </div>
                </div>
				<div class="col-lg-12">
                    <div class="creation-btn span12">
                        <button ng-hide="displayCreationField" type="button" ng-click="showCreationField()" class="btn btn-warning">Créer votre partie</button>
                        <button ng-show="displayCreationField" type="button" id="idConnexion" ng-click="join()" class="btn btn-warning">Créer</button>
                    </div>
                </div>
            </div>
        </div>
            
        <!-- Game Selection Panel -->
        <div class="row">
            <div class="col-lg-12 gameSelection">
            
                <div ng-show="displayGameSelection">
                    <p class="lead">Ou rejoignez une partie existante</p>
                    <div class="gameStyle {{gamesListClass[$index]}}" ng-repeat="game in gamesList" ng-class="($index%4===0 && $index!=0) ? 'displayBlock' : ''">
                        <button type="button" class="btn btn-default" ng-click="select(game.gameName)" ng-mouseenter="mouseEnter($index)" ng-mouseleave="mouseLeave($index)">
                            <span class="gameName">{{game.gameName}}</span>
                            <div class="infos">
                                <span style="float:left;"><img src="img/people.png"/> {{game.gameParticipants}}</span>
                                <span class="gameState" style="float:right; height: 12px; width: 12px;" ng-class="game.gameTerminate ? 'gameTerminate' : 'gameNotTerminate'"/>
                            </div>
                            
                            <div class="infosDetail">
                                <span class="detailBlockLbl">
                                    Participants
                                </span>
                                <span class="detailBlockVal">
                                    <img src="img/people.png"/> {{game.gameParticipants}}
                                </span>
                                <br/>
                                
                                <span class="detailBlockLbl">
                                    Partie
                                    <span ng-if="game.gameTerminate">terminé</span>
                                    <span ng-if="!(game.gameTerminate)">en cours</span>
                                </span>
                                <span class="detailBlockVal" style="margin-left:10px;">
                                    <div class="gameState" style="height: 10px; width: 10px;" ng-class="game.gameTerminate ? 'gameTerminate' : 'gameNotTerminate'"></div>
                                </span>
                            </div>
                        </button>
                    </div>
                </div>
                
				<div ng-hide="displayGameSelection">
                    <p class="lead">Aucune partie n'est disponible actuellement</p>
                </div>
            </div>
		</div>
		
		<div class="row">
			<center class="col-lg-12">
			<div class="page-header"></div>
				<p class="lead">Top players:</p>
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<td title="Joueur">Joueur</td>
							<td title="Jouée">J</td>
							<td title="Gagnée">G</td>
							<td title="Finie">F</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="player in topPlayers">
							<td>{{player.name}}</td>
							<td>{{player.played}}</td>
							<td>{{player.win}}</td>
							<td>{{player.finish}}</td>
						</tr>
					</tbody>
				</table>
			</center>
		</div>
    </div>
    
    <!-- Hidden form to submit data to server -->
    <div class="hidden">
        <form class="bs-example form-horizontal" method="post" action="/" id="newGame">
          <fieldset>
                <input type="text" class="form-control input-sm" id="login" name="login"/>
				<input type="text" class="form-control input-sm" id="password" name="password"/>
                <input type="text" class="form-control input-sm" id="idGame" name="idGame"/>
          </fieldset>
        </form>
    </div>
    
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
	<script src="js/commonModule.js"></script>
    <script src="js/loginApp.js"></script>
    <script src="js/loginAppCtrls.js"></script>
  </body>
</html>

