<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <title>Rasende Roboter</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/sticky-footer.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/main.css" type="text/css" media="all" />
  </head>
  <body ng-app="loginApp" ng-controller="mainController" >
    <header id="header" class="container">
        <div class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <h1 class="navbar-brand">Rasende Roboter <small>Le jeu de robots en ligne</small></h1>
            </div>
          </div>
        </div>
    </header>
    
    <div class="container">
        <section class="">
            <div class="col-lg-4 col-lg-offset-2">
              <div class="well">
                <form class="bs-example form-horizontal" method="post" action="/" id="newGame">
                  <fieldset>
                    <legend>Rejoindre une partie</legend>
                    <span class="help-block">Pour jouer, entrez un nom d'utilisateur et un nom de partie.</span>
                    <div class="form-group">
                      <label for="login" class="control-label">Identifiant</label>
                      <div>
                        <div ng-show="loginKO.display" class="alert-danger">
                            <small>{{loginKO.text}}</small>
                        </div>
                        <input type="text" class="form-control input-sm" ng-model="game.login" id="login" name="login" placeholder="Nom d'utilisateur"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="idGame" class="control-label">Nom de la partie</label>
                      <div ng-show="idGameKO.display" class="alert-danger">
                            <small>{{idGameKO.text}}</small>
                      </div>
                      <div>
                        <input type="text" class="form-control input-sm" ng-model="game.idGame" id="idGame" name="idGame" placeholder="Nom de la partie"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="button" id="idConnexion" ng-click="join()" class="btn btn-info btn-sm pull-right">Rejoindre</button>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="well">
                <legend>Parties existantes</legend>
                <span class="help-block">Vous pouvez également séléctionner une partie dans la liste.</span>
                <div id="lesParties">
                    <button type="button" class="btn btn-default"  ng-repeat="game in gamesList" ng-click="select(game)">{{game}}</button>
                </div>
              </div>
            </div>
        </section>
    </div>
    
    <footer id="footer" class="container">
      <p class="credit">
        M2PGI project. <a href="https://github.com/Luze26/RasendeRoboter">See the project on GitHub</a>.
      </p>
    </footer>
    
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
	<script src="js/commonModule.js"></script>
    <script src="js/loginApp.js"></script>
    <script src="js/loginAppCtrls.js"></script>
  </body>
</html>

